{% extends 'root/index.html.twig' %}
{% block header %}
    <link href="{{ asset('css/users.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <div class="users_wrapper">
            <h1>hello</h1>
        </div>
        <div class="sorting_wrapper">

        </div>

    </div>
    </body>

{% endblock %}


