body{
    margin:0;
    font-size:20px;
    line-height:1.6;
    color:#444444;
    font-family: 'Lato', sans-serif;
    background-color: #feffdf;

}

:before,
:after{
    box-sizing:border-box;
}
h1,h2,h3,h4.h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
}
a:visited{
    color: #333;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;

}



/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    position: sticky;

}
header a{
    display: flex;
    align-items: center;
}
.logo{
    width:50%;
    height: auto;
}
.nav_bar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.login_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 40px;
    border: none;
    background-color: #fbed9e;
    border-radius: 23px;
    color: #7a7a7a;

}
.login_btn a:visited{
    color: #7a7a7a;
}
.login_btn a:visited:hover,
.login_btn:hover{
    background-color: #e97f44;
    color: white;
}
/*.logo{*/
/*    position: absolute;*/
/*    top:50%;*/
/*    border: 2px solid green;*/
/*    width: 20%;*/
/*    height: auto;*/
/*}*/

.footer_content{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer_content p{
    font-size: 18px;
}

/*------LOGIN MODAL------*/








