
.main_content{
    display: flex;
}
.main_img{
    width: 45%;
}
.img_content{
    max-width: 100%;
    height: auto;
}
.main_slogan{
    width: 55%;
    display: flex;
    align-items: center;
}
.slogan_text1{
    margin: 0 auto;
    font-size: 3.2em;
    font-weight: 700;
    border-bottom: solid #a8a8a8 2px;
}
.slogan_text2{
    padding: 0.1em;
    font-size: 1.7em;
    font-weight: 700;
    color: #6c6c6c;
}






