.users{
    display: flex;
    flex-direction: row;
}
.users_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;


}
.user{
    margin-left: 1em;
}
.user img{
    border-radius: 20%;
    width: 12em;
}

.sorting_wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;

}
.sorting_list_name {
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: solid #a8a8a8 2px;
}
.sorting_wrapper a{
    text-transform: lowercase;
    font-size: 1em;
    font-weight: 500;
}
.sorting_wrapper a:link{
    text-decoration: none;
    color: #949494;
}
.sorting_wrapper a:visited{
    text-decoration: none;
    color: #949494;
}

