
{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/userForm.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <div class="container_inner">
            <p class = "page_header">Registration</p>

        </div>
    </div>
    </body>
{% endblock %}
