{% block header %}
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet"/>
    <div class="container">
        <div class="header">
            <div class="logo">

                <a class = "logo_name" href="/"><i class="bi bi-flower1"style = "font-size: 1.2em"></i> Sunflower</a>
            </div>
            <a class="user_credentials" href="/users">users</a>
            <a class="user_credentials" href="/admin">admin panel</a>

            <div class="panel">
                <div class="user_credentials">
                    <div class="avatar">
                        <img class = "avatar_content" src="{{ asset('uploads/avatars/' ~  currentAvatar ) }}">
                    </div>
                    <div class="username">
                        <a class = "panel_link" href="/page/{{ currentId }}">{{ currentUsername }}</a>
                    </div>
                </div>
                <div class="login_panel">
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <div class="panel_block">

                            <a class = "panel_link" href="/logout"><i class="bi bi-door-open-fill"></i></a>
                        </div>
                    {% else %}
                        <div class="panel_block">

                            <a class = "panel_link" href="/register">Sign Up</a>
                        </div>
                        <div class="panel_block">
                            <a class = "panel_link" href="/login">Sign In</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

