
{% block body %}
    <body>
    <div class="container">
        <div id = "root"></div>
        <p>hello</p>
    </div>

    </body>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}